https://realpython.com/pandas-merge-join-and-concat/

In [27]:
# what do we do if library doesn't exist??
!pip install faker

Requirement already satisfied: faker in c:\users\manisha\anaconda3\lib\site-packages
Requirement already satisfied: text-unidecode==1.3 in c:\users\manisha\anaconda3\lib\site-packages (from faker)
Requirement already satisfied: python-dateutil>=2.4 in c:\users\manisha\anaconda3\lib\site-packages (from faker)
Requirement already satisfied: six>=1.5 in c:\users\manisha\anaconda3\lib\site-packages (from python-dateutil>=2.4->faker)

You are using pip version 9.0.1, however version 21.2.4 is available.
You should consider upgrading via the 'python -m pip install --upgrade pip' command.

In [29]:
!pip install --upgrade pip

Collecting pip
  Downloading https://files.pythonhosted.org/packages/ca/31/b88ef447d595963c01060998cb329251648acf4a067721b0452c45527eb8/pip-21.2.4-py3-none-any.whl (1.6MB)
Installing collected packages: pip
  Found existing installation: pip 9.0.1
    Uninstalling pip-9.0.1:
      Successfully uninstalled pip-9.0.1

Exception:
Traceback (most recent call last):
  File "C:\Users\Manisha\Anaconda3\lib\shutil.py", line 387, in _rmtree_unsafe
    os.unlink(fullname)
PermissionError: [WinError 5] Access is denied: 'C:\\Users\\Manisha\\AppData\\Local\\Temp\\pip-9ov5u7ty-uninstall\\users\\manisha\\anaconda3\\scripts\\pip.exe'

During handling of the above exception, another exception occurred:

Traceback (most recent call last):
  File "C:\Users\Manisha\Anaconda3\lib\site-packages\pip\basecommand.py", line 215, in main
  File "C:\Users\Manisha\Anaconda3\lib\site-packages\pip\commands\install.py", line 342, in run
  File "C:\Users\Manisha\Anaconda3\lib\site-packages\pip\req\req_set.py", line 795, in install
  File "C:\Users\Manisha\Anaconda3\lib\site-packages\pip\req\req_install.py", line 767, in commit_uninstall
  File "C:\Users\Manisha\Anaconda3\lib\site-packages\pip\req\req_uninstall.py", line 142, in commit
  File "C:\Users\Manisha\Anaconda3\lib\site-packages\pip\_vendor\retrying.py", line 49, in wrapped_f
  File "C:\Users\Manisha\Anaconda3\lib\site-packages\pip\_vendor\retrying.py", line 212, in call
  File "C:\Users\Manisha\Anaconda3\lib\site-packages\pip\_vendor\retrying.py", line 247, in get
  File "C:\Users\Manisha\Anaconda3\lib\site-packages\pip\_vendor\six.py", line 686, in reraise
    _assertCountEqual = "assertItemsEqual"
  File "C:\Users\Manisha\Anaconda3\lib\site-packages\pip\_vendor\retrying.py", line 200, in call
  File "C:\Users\Manisha\Anaconda3\lib\site-packages\pip\utils\__init__.py", line 102, in rmtree
  File "C:\Users\Manisha\Anaconda3\lib\shutil.py", line 494, in rmtree
    return _rmtree_unsafe(path, onerror)
  File "C:\Users\Manisha\Anaconda3\lib\shutil.py", line 384, in _rmtree_unsafe
    _rmtree_unsafe(fullname, onerror)
  File "C:\Users\Manisha\Anaconda3\lib\shutil.py", line 384, in _rmtree_unsafe
    _rmtree_unsafe(fullname, onerror)
  File "C:\Users\Manisha\Anaconda3\lib\shutil.py", line 384, in _rmtree_unsafe
    _rmtree_unsafe(fullname, onerror)
  File "C:\Users\Manisha\Anaconda3\lib\shutil.py", line 389, in _rmtree_unsafe
    onerror(os.unlink, fullname, sys.exc_info())
  File "C:\Users\Manisha\Anaconda3\lib\site-packages\pip\utils\__init__.py", line 114, in rmtree_errorhandler
PermissionError: [WinError 5] Access is denied: 'C:\\Users\\Manisha\\AppData\\Local\\Temp\\pip-9ov5u7ty-uninstall\\users\\manisha\\anaconda3\\scripts\\pip.exe'

In [30]:
from faker import Faker
import pandas as pd
import random

In [31]:
f = Faker()

df1 = pd.DataFrame({
    'id': ['st_' + str(i) for i in range(0, 20)],
    'name': [f.name() for _ in range(0,20)],
    'email' : [f.email() for _ in range(0,20)]
})

In [32]:
df1

                            email     id               name
0       fblack@adams-walters.info   st_0    Katherine Hogan
1            davidglenn@gmail.com   st_1      Shane Chapman
2   valenzuelajeffrey@hotmail.com   st_2      Jessica Hicks
3          bartlettjohn@gmail.com   st_3     Rebecca Cooper
4             richard92@gmail.com   st_4          Lori Vega
5          sergiokrause@cowan.org   st_5     Jessica Turner
6          tinagarcia@hotmail.com   st_6    Michael Rollins
7               billy10@yahoo.com   st_7   Deborah Oconnell
8               ilamb@hotmail.com   st_8   Richard Figueroa
9                paul35@davis.com   st_9    Courtney Oliver
10            melissa35@gmail.com  st_10       David Dillon
11               dhobbs@gmail.com  st_11      Kayla Flowers
12      wrightshannon@sweeney.com  st_12         Joseph Lee
13      joshua68@holmes-walls.biz  st_13      Ryan Williams
14        alyssahubbard@yahoo.com  st_14        Teresa King
15           jordanstein@boyd.com  st_15    Nicole Mitchell
16        alexandra69@herring.com  st_16        Sean Foster
17          rogerjackson@king.com  st_17      Melissa Grant
18        cindycooper@hotmail.com  st_18  Gregory Zimmerman
19              rmelton@lyons.com  st_19     Melanie Wilson

In [10]:
count = 25

df2 = pd.DataFrame({
    'studentId': ['st_' + str(i) for i in range(5, count)],
    'grade1': [random.randint(50, 100) for _ in range(5,count)],
    'grade2': [random.randint(50, 100) for _ in range(5,count)],
    'grade3': [random.randint(50, 100) for _ in range(5,count)],
})

In [11]:
df2

    grade1  grade2  grade3 studentId
0       87      53      61      st_5
1       76      89      98      st_6
2       51      54      98      st_7
3       50      81      70      st_8
4       75      92      55      st_9
5       53      73      53     st_10
6       73      76      77     st_11
7       85      66      54     st_12
8       77      55      82     st_13
9       85      91      81     st_14
10      74      98      76     st_15
11      86      85      51     st_16
12      70      70      89     st_17
13      61      57      82     st_18
14      71      99      97     st_19
15      84      66      65     st_20
16      58      93      84     st_21
17      73      50      92     st_22
18      66      80      58     st_23
19      85      52      52     st_24

## Merge `df1` and `df2`: if students exist in both data frames

In [18]:
df_merged = pd.merge(df1,df2,left_on="id",right_on="studentId",how="inner")
df_merged

,email,id,name,grade1,grade2,grade3,studentId
0,markbaker@ferrell-stephens.com,st_5,Leslie Mccormick,87,53,61,st_5
1,nguerra@riddle.org,st_6,Richard Smith,76,89,98,st_6
2,heather71@bailey.net,st_7,William Alvarez,51,54,98,st_7
3,zachary50@simpson.com,st_8,Jennifer Frazier,50,81,70,st_8
4,stephenarmstrong@vasquez.com,st_9,Benjamin Torres,75,92,55,st_9
5,sarah29@gmail.com,st_10,Edward Tyler,53,73,53,st_10
6,sharon16@yahoo.com,st_11,Stephanie Ashley,73,76,77,st_11
7,matthewdyer@wright-ruiz.info,st_12,Karen Gutierrez,85,66,54,st_12
8,valeriesmith@hayden.com,st_13,Bradley Keith,77,55,82,st_13
9,yolandaparker@hodge.com,st_14,Shannon Fisher,85,91,81,st_14
10,ruth64@gonzales.com,st_15,Craig Myers,74,98,76,st_15
11,jordan05@sanchez.biz,st_16,Mr. Cody Coleman,86,85,51,st_16
12,williamskimberly@hotmail.com,st_17,Melissa Garcia,70,70,89,st_17
13,omullins@gmail.com,st_18,Jessica Johnston,61,57,82,st_18
14,arogers@padilla.net,st_19,Katherine Gibbs,71,99,97,st_19

## Merge `df1` and `df2`: get all students from `df1` and get from `df2` if student exists on `df2`

In [19]:
df_merged = pd.merge(df1,df2,left_on="id",right_on="studentId",how="left")
df_merged

,email,id,name,grade1,grade2,grade3,studentId
0,billyrhodes@yahoo.com,st_0,Theresa Green,NaN,NaN,NaN,NaN
1,andersonjames@gmail.com,st_1,Mr. Devon Brown DDS,NaN,NaN,NaN,NaN
2,mharper@martin.org,st_2,John Rocha,NaN,NaN,NaN,NaN
3,juanross@gmail.com,st_3,Lisa Jones,NaN,NaN,NaN,NaN
4,kreid@yahoo.com,st_4,Ryan Burke,NaN,NaN,NaN,NaN
5,markbaker@ferrell-stephens.com,st_5,Leslie Mccormick,87.0,53.0,61.0,st_5
6,nguerra@riddle.org,st_6,Richard Smith,76.0,89.0,98.0,st_6
7,heather71@bailey.net,st_7,William Alvarez,51.0,54.0,98.0,st_7
8,zachary50@simpson.com,st_8,Jennifer Frazier,50.0,81.0,70.0,st_8
9,stephenarmstrong@vasquez.com,st_9,Benjamin Torres,75.0,92.0,55.0,st_9
10,sarah29@gmail.com,st_10,Edward Tyler,53.0,73.0,53.0,st_10
11,sharon16@yahoo.com,st_11,Stephanie Ashley,73.0,76.0,77.0,st_11
12,matthewdyer@wright-ruiz.info,st_12,Karen Gutierrez,85.0,66.0,54.0,st_12
13,valeriesmith@hayden.com,st_13,Bradley Keith,77.0,55.0,82.0,st_13
14,yolandaparker@hodge.com,st_14,Shannon Fisher,85.0,91.0,81.0,st_14
15,ruth64@gonzales.com,st_15,Craig Myers,74.0,98.0,76.0,st_15
16,jordan05@sanchez.biz,st_16,Mr. Cody Coleman,86.0,85.0,51.0,st_16
17,williamskimberly@hotmail.com,st_17,Melissa Garcia,70.0,70.0,89.0,st_17
18,omullins@gmail.com,st_18,Jessica Johnston,61.0,57.0,82.0,st_18
19,arogers@padilla.net,st_19,Katherine Gibbs,71.0,99.0,97.0,st_19

## Merge `df1` and `df2`: get all students from `df2` and get from `df1` if student exists on `df1`

In [22]:
df_merged = pd.merge(df1,df2,how="right",left_on="id",right_on="studentId")
df_merged

,email,id,name,grade1,grade2,grade3,studentId
0,markbaker@ferrell-stephens.com,st_5,Leslie Mccormick,87,53,61,st_5
1,nguerra@riddle.org,st_6,Richard Smith,76,89,98,st_6
2,heather71@bailey.net,st_7,William Alvarez,51,54,98,st_7
3,zachary50@simpson.com,st_8,Jennifer Frazier,50,81,70,st_8
4,stephenarmstrong@vasquez.com,st_9,Benjamin Torres,75,92,55,st_9
5,sarah29@gmail.com,st_10,Edward Tyler,53,73,53,st_10
6,sharon16@yahoo.com,st_11,Stephanie Ashley,73,76,77,st_11
7,matthewdyer@wright-ruiz.info,st_12,Karen Gutierrez,85,66,54,st_12
8,valeriesmith@hayden.com,st_13,Bradley Keith,77,55,82,st_13
9,yolandaparker@hodge.com,st_14,Shannon Fisher,85,91,81,st_14
10,ruth64@gonzales.com,st_15,Craig Myers,74,98,76,st_15
11,jordan05@sanchez.biz,st_16,Mr. Cody Coleman,86,85,51,st_16
12,williamskimberly@hotmail.com,st_17,Melissa Garcia,70,70,89,st_17
13,omullins@gmail.com,st_18,Jessica Johnston,61,57,82,st_18
14,arogers@padilla.net,st_19,Katherine Gibbs,71,99,97,st_19
15,NaN,NaN,NaN,84,66,65,st_20
16,NaN,NaN,NaN,58,93,84,st_21
17,NaN,NaN,NaN,73,50,92,st_22
18,NaN,NaN,NaN,66,80,58,st_23
19,NaN,NaN,NaN,85,52,52,st_24

## Merge `df1` and `df2`: get both records

In [21]:
df_merged = pd.merge(df1,df2,left_on="id",right_on="studentId",how="outer")
df_merged

,email,id,name,grade1,grade2,grade3,studentId
0,billyrhodes@yahoo.com,st_0,Theresa Green,NaN,NaN,NaN,NaN
1,andersonjames@gmail.com,st_1,Mr. Devon Brown DDS,NaN,NaN,NaN,NaN
2,mharper@martin.org,st_2,John Rocha,NaN,NaN,NaN,NaN
3,juanross@gmail.com,st_3,Lisa Jones,NaN,NaN,NaN,NaN
4,kreid@yahoo.com,st_4,Ryan Burke,NaN,NaN,NaN,NaN
5,markbaker@ferrell-stephens.com,st_5,Leslie Mccormick,87.0,53.0,61.0,st_5
6,nguerra@riddle.org,st_6,Richard Smith,76.0,89.0,98.0,st_6
7,heather71@bailey.net,st_7,William Alvarez,51.0,54.0,98.0,st_7
8,zachary50@simpson.com,st_8,Jennifer Frazier,50.0,81.0,70.0,st_8
9,stephenarmstrong@vasquez.com,st_9,Benjamin Torres,75.0,92.0,55.0,st_9
10,sarah29@gmail.com,st_10,Edward Tyler,53.0,73.0,53.0,st_10
11,sharon16@yahoo.com,st_11,Stephanie Ashley,73.0,76.0,77.0,st_11
12,matthewdyer@wright-ruiz.info,st_12,Karen Gutierrez,85.0,66.0,54.0,st_12
13,valeriesmith@hayden.com,st_13,Bradley Keith,77.0,55.0,82.0,st_13
14,yolandaparker@hodge.com,st_14,Shannon Fisher,85.0,91.0,81.0,st_14
15,ruth64@gonzales.com,st_15,Craig Myers,74.0,98.0,76.0,st_15
16,jordan05@sanchez.biz,st_16,Mr. Cody Coleman,86.0,85.0,51.0,st_16
17,williamskimberly@hotmail.com,st_17,Melissa Garcia,70.0,70.0,89.0,st_17
18,omullins@gmail.com,st_18,Jessica Johnston,61.0,57.0,82.0,st_18
19,arogers@padilla.net,st_19,Katherine Gibbs,71.0,99.0,97.0,st_19
20,NaN,NaN,NaN,84.0,66.0,65.0,st_20
21,NaN,NaN,NaN,58.0,93.0,84.0,st_21
22,NaN,NaN,NaN,73.0,50.0,92.0,st_22
23,NaN,NaN,NaN,66.0,80.0,58.0,st_23
24,NaN,NaN,NaN,85.0,52.0,52.0,st_24